/* Reset y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #42ace5;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

header .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
}

nav {
    background: #42ace5;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #35424a;
    transform: scale(1.1);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #42ace5;
    font-size: 2em;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid #42ace5;
    transition: transform 0.3s;
}

ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

ul li:hover {
    transform: translateX(10px);
}

ul li a:hover {
    color: #42ace5;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #35424a;
}

form input,
form textarea,
form button {
    width: calc(100% - 22px); /* ajuste para el padding de 10px */
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #42ace5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background: #35424a;
    transform: scale(1.1);
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: translateY(-5px);
}
